<div class="average-ratings">
  {{rating-input value=user.average_rating readOnly=true}}
  <span class="rating-count"><a href="{{user.path}}/feedbacks">{{i18n "discourse_user_feedbacks.user_feedbacks.user_ratings_count" count=user.rating_count}}</a></span>
</div>
