<div class="average-ratings">
  {{rating-input value=model.average_rating readOnly=true}}
  <span class="rating-count"><a href="{{model.path}}/feedbacks">{{i18n "discourse_user_feedbacks.user_feedbacks.user_ratings_count" count=model.rating_count}}</a></span>
</div>
